@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1132px;
  margin: 0 auto;
}

a {
  text-decoration: inherit;
  color: var(--bg-primary);
}
