:root {
  --bg-primary: #8b8e99;
  --bg--secondary: #f6f6f6;
  --bg--main--primary: #fff;
  --bg--color--blue: #3858d6;
  --bg--color--gray: #f6f6f6;
  --bg--text--primary: 500;
  --bg--font--family: Poppins;
  --bg--font--family--inter: Inter;
}
